<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">EasyCase</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <ul class="nav navbar-nav flex-row float-right">
            <li ngbDropdown class="nav-item d-inline-block">
                <a class="nav-link dropdown-toggle dropdown-toggle-notifications" id="notifications-dropdown-toggle" ngbDropdownToggle>
                    <span class="thumb-sm avatar float-left">
                        <!--<img class="rounded-circle" src="assets/img/people/a5.jpg" alt="...">-->
                    </span>
                    &nbsp;
                    Philip <strong>Smith</strong>&nbsp;
                    <span class="circle bg-warning fw-bold"> 13 </span>
                </a>
                <!-- ready to use notifications dropdown. inspired by smartadmin template.
                    consists of three components:
                    notifications, messages, progress. leave or add what's important for you.
                    uses Sing's ajax-load plugin for async content loading. See #load-notifications-btn -->
                <!--<div notifications class="dropdown-menu dropdown-menu-right animated animated-fast fadeInUp"></div>-->
            </li>
            <li ngbDropdown class="nav-item d-inline-block">
                <a class="nav-link" id="navbarDropdownMenuLink" ngbDropdownToggle><i class="fa fa-cog fa-lg"></i></a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#"><i class="fa fa-user-circle"></i> &nbsp; My Account</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" [routerLink]=" ['/app', 'extra', 'calendar'] ">Calendar</a></li>
                    <li><a class="dropdown-item" [routerLink]=" ['/app', 'inbox'] ">Inbox &nbsp;&nbsp;<span class="badge badge-pill badge-danger text-white animated bounceIn">9</span></a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" [routerLink]=" ['/admin'] "><i class="fa fa-sign-out"></i> &nbsp; Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>